<h2>Add a new artist</h2>
<%= form_for(@artist) do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %><br>

  <%= f.label :home_town %>
  <%= f.text_field :home_town %><br>

  <%= f.label :current_hairstyle %>
  <%= f.text_field :current_hairstyle %><br>

  <%= f.submit %>
<% end %>